<html>
  <body>
    <div class="recipes-new-wrapper">
      <div class="container">
        <div class="row">
          <div class="offset-md-1 offset-sm-1">
            <div class="heading mb-3">
              <h2 class="text-center mt-4 pt-2 pb-2 text-white bg-success">お茶漬けレシピ 編集</h2>
            </div>
            
            <div class="heading-sentence">
              <p>お茶漬けにはバリエーションがたくさんあります。だしやトッピングを変えることで様々な味を表現することができます。<br>
              自分のオリジナルのお茶漬けを投稿して日本のお茶漬けを盛り上げましょう！</p>
            </div>
            
            <%= form_for @recipe do |f| %>
            
              <div class="text-white title">
                <h3 class="badge badge-secondary">タイトルを入力してください</h3>
                <div><%= f.text_field :title, class:"text-form", placeholder:"タイトルを入力" %></div>
              </div>
              
              <div><label class="badge badge-secondary">画像を選択してください</label></div>
                <%= f.label :image, "画像をアップロード", class: "image-input-btn" %> 
                
                <%= f.file_field :image, style: "display:none;",value:"画像を選択" %>
              
              <div class="material">
                  <label class="badge badge-secondary mr-2">材料とそれに対する分量を入力してください</label><a>※材料と分量の両方が空欄の場合は投稿されません。</a>

                  <%= f.fields_for :materials do |m| %>
                    <div class="food">
                      <%= m.text_field :material_name,multiple: true, class:"text-form material-name", placeholder:"材料を入力" %>
                      <%= m.text_field :material_quantity,multiple: true, class:"text-form material-quantity", placeholder:"分量を入力" %>
                      <button type="button" class="ml-1 remove-material">-</button>
                    </div>
                  <% end %>
                  <button type="button" class="ml-1 add-material">+</button>    
              </div>
              
              <div class="method mt-4">
                <div><label class="badge badge-secondary mr-2">作り方を入力してください</label><a>※空欄は投稿されません。</a></div>
                  <% i=0 %>
                    <%= f.fields_for :cookmethods, @cookmethod.sort_by(&:row_order)  do |cm| %>
                      <div class="cook" data-model-name=<%= @recipe.class.name.underscore %> data-update-url= <%= recipe_sort_path( @recipe.id) %> data-method-id= <%= @cookmethod[i].id %>>
                        <label class="badge badge-pill badge-secondary num">i</label>
                        <%= cm.text_field :method, multiple: true, class:"textarea method col-md-5 col-sm-10 ml-2 method-area", placeholder:"作り方を入力" %>
                        <button type="button" class="ml-1 remove-method">-</button>
                        <i class="fas fa-arrows-alt-v ml-2 method-move"></i>
                      </div>
                      <% i= i + 1 %>
                <% end %>
              </div>
              <button type="button" class="add-method ml-2">+</button>
              
              <div>
                <div><label class="badge badge-secondary mt-4">作る上でのポイントを入力してください（）</label></div>
                <%= f.text_area :point, class:"point", placeholder:"調理のポイントを入力（任意）" %>
              </div>
              
              <div>
                <div><label class="badge badge-secondary">作ってみた感想や食べてみた感想を入力してください</label></div>
                <%= f.text_area :impression, class:"impression", placeholder:"作った感想を入力（任意）" %>
              </div>
              
              <div>
                <%= button_to "保存",{controller:"recipes", action:"update"},{method: :post, class:"btn btn-success col-md-3 offset-md-4 mb-5"} %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


<script>
  
  jQuery(function(){
    
    // 初期 番号追加
    var i=1
    $('.cook').each(function() {
      var n = $(this).children("label").text();   
      if(Number(n) !== i){
        $(this).children("label").text(i);
        $(this).children("label").attr('class',`badge badge-pill badge-secondary num${i}`);
      }
      i=i+1
    });
    
  // 材料追加ボタンクリック時
    var len = $(".food").length;
    var mate_button=$(".add-material")
    $(mate_button).on('click',function(){
      $(".food:last").after($(`.material > .food:last`).clone(true));
    });
  
  // 材料削除ボタンクリック時  
    var mate_remove_button=$(".remove-material")
    $(mate_remove_button).on('click',function(){
      var f_size = $(".food").length
      if(f_size === 1){
        $(".remove-material").remove("disabled");
      }else{
        $(this).parent().remove();
      }
    });
    
    // 調理方法追加ボタンクリック時  
    var meth_button=$(".add-method")
    $(meth_button).on('click',function(){
      $(".cook:last").after($(`.method > .cook:last`).clone(true));
      // var len = $(".cook").length;
      var i=1
      $('.cook').each(function() {
        var n = $(this).children("label").text();   
        if(Number(n) !== i){
          $(this).children("label").text(i);
          $(this).children("label").attr('class',`badge badge-pill badge-secondary num${i}`);
        }
        i=i+1
      });
    });
    
    // 調理方法削除ボタンクリック時
    var meth_remove_button=$(".remove-method")
    $(meth_remove_button).on('click',function(){
      var c_size = $(".cook").length
      if(c_size === 1){
        $(".remove-method").remove("disabled");
      }else{
        $(this).parent().remove();
        var i=1
        $('.cook').each(function() {
          var n = $(this).children("label").text();   
          if(Number(n) !== i){
            $(this).children("label").text(i);
            $(this).children("label").attr('class',`badge badge-pill badge-secondary num${i}`);
          }
          i=i+1
        });
      }
    });
    
    // セレクタ移動後
    Sortable.create($('.method')[0], {
      // animation: 50
      onUpdate: function(e)
      {
        var i=1;
        var method_move_button=$(".cook");
        $("hidden").remove();
        $(method_move_button).each(function(){
          var n = $(this).children("label").text();
          var m = n
          var n = $(this).children("label").text();   
          if(Number(n) !== i){
            $(this).children("label").text(i);
            $(this).children("label").attr('class',`badge badge-pill badge-secondary num${i}`);
            item = e.item
            item_data= $(".cook").data();
            params= {_method: 'put'}
            params[item_data.modelName] = { row_order_position: Math.ceil(e.newIndex / 2) - 1 , method_id: item.dataset.methodId}
    
            $.ajax({
              type: 'POST',
              url: item_data.updateUrl,
              dataType: 'json',
              data: params
            });
          }
          i=i+1;
        });
      }
    });
  });

</script>