
<html>
  <body>
    <div class="recipes-index-wrapper">
      <div class="container recipes-index-container">
  
        <div class="row">
          <div class="col-md-11 offset-md-1 mb-3 mt-4">
            <h2 class="text-center mt-4 pt-2 pb-2 text-white bg-success">お茶漬けレシピ 一覧</h2>
          </div>
            
          <div class="offset-md-3 heading-sentence">
            <p>お茶漬けレシピ一覧です。自分の好きなお茶漬けレシピを見つけて真似して作ってみたり<br>
            アレンジしてみたりして、お茶漬けを楽しみましょう！材料で検索できます！</p>
          </div>
        </div>
          
        <div class="offset-md-5 offset-sm-5 mb-4 index">
          <%= search_form_for(@q,url: search_path, method: :get) do |f| %>
            <%= f.search_field :material_name_cont, class:"index-text",placeholder:"材料を入力" %>
            <%= f.submit class:"index_button" %>
          <% end %>
        </div>
        
       
        <div class="row">
          <div class="col-md-12 offset-md-1 text-decoration-none content">
            
            <% @recipes.each do |recipe| %>
            
              <%= link_to recipe_path(recipe.id),class:"link" do %>
              
                <div class="recipes">
                  <div class="recipes-top">
                    
                    <% if recipe.image.url!=nil %>
                      <%= image_tag recipe.image.url, class:"img" %>
                    <% end %>
                  </div>
              
                  <div class="recipes-bottom">
                    <div class="recipes-discription ml-2">
                      <!--タイトル ↓ recipe.title-->
                      <h4><%= recipe.title %></h4>
                      <!--ポイント ↓ recipe.discription-->
                      <%# if recipe.point == false %>
                        <!--logger.debug(<)-->
                        <!--<p class="link">&nbsp;</p>-->
                      <%# else %>
                      <p class="impression"><%= recipe.impression %>&nbsp;</p>
                      <%# end %> 
                    </div>
            
                    <div class="recipes-favorite">
                      <div id="favorite_button_<%= recipe.id %>", class="d-inline-block">
                        <%= render partial: 'favorites/favorite_index', locals: {recipe: recipe} %>
                      </div>
                      
                      <%# if !recipe.favorites_users.include?(current_user) %>
                      
                        <%#= link_to favorites_path(recipe_id: recipe.id),method: :post do %>
                          <!--<i class="far fa-heart mr-2 ml-1 fa-lg non-favorite"></i>-->
                        <%# end %>
                        
                      <%# else %>
                      
                        <%#= link_to cancel_path(recipe_id: recipe.id),method: :delete do %>
                           <!--<i class="fas fa-heart mr-2 ml-1 fa-lg favorite"></i>-->
                        <%# end %>
                        
                      <%# end %>
                      
                      <%# if recipe.favorites_users.count!=0 %>
                        <!--<p class="favorites_count d-inline mr-3"><%#= recipe.favorites_users.count %></p>-->
                      <%# end %>
                      
                      <%= link_to recipe_path(recipe.id),id:"comment-index" do %>
                        <i class="far fa-comment fa-lg mr-2 ml-1"></i>
                      <% end %>
                      
                      <% if recipe.comments.count!=0 %>
                        <p class="favorites_count d-inline mr-3"><%= recipe.comments.count %></p>
                      <% end %>
                      <%= recipe.user&.name %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
        </div>
         </div>
      </div>
    </div>
    
    <div id="page_top">
      <p id="return">TOP</p>
    </div>
    
  </body>
</html>

<script>
  
  jQuery(function(){
    var pagetop = $('#page_top');
    // 実験結果＝＞hideにすると非表示になって何も起こらない
    // showで再度表示させるとアニメーションが起こる！
    pagetop.stop().animate({
      'bottom': '-50px' //下から-50pxの位置に
    }, 1);  // フェードアウトさせる
    
    $(window).scroll(function(){
     
      // 100pxスクロールしたら
      if($(this).scrollTop() > 90){
        pagetop.stop().animate({
          'bottom': '50px' //下から50pxの位置に
        }, 300);// フェードインさせる
        
      }else{
        pagetop.stop().animate({
          'bottom': '-50px' //下から-50pxの位置に
        }, 300);  // フェードアウトさせる
      }
      
    });
      // pagetopをクリックしたら
    pagetop.on('click',function(){
      $('body,html').animate({scrollTop: 0 }, 500);
        return false;
      });
  }); 
  
</script>