<!--レシピ一覧に関するコード-->

<html>
  <body>
    <div class="recipes-index-wrapper">
      <div class="container recipes-index-container">
        
        
        <div class="row">
          <div class="col-md-6 offset-md-3 mb-3">
            <h2 class="text-center mt-4 pt-2 pb-2 text-white bg-success">お茶漬けレシピ 一覧</h2>
          </div>
            
          <div class="offset-md-3">
            <p>お茶漬けレシピ一覧です。自分の好きなお茶漬けレシピを見つけて真似して作ってみたり<br>
            アレンジしてみたりして、お茶漬けを楽しみましょう！材料で検索できます！</p>
          </div>
        </div>
          
          <div class="offset-md-5 offset-sm-5">
                <p class="index"><input type="text" class="index-text" placeholder="材料を入力"><button type="submit"></button></p>
          </div>
        
        <div class="row">
          <div class="col-md-12 offset-md-1 text-decoration-none content">
            
            <!--レシピ1つでリンクさせるようにする-->
            
            <% @recipes.each do |recipe| %>
            <%= link_to recipe_path(recipe.id) do %>
            <!--top-->
    
            
            <div class="col-md-3 recipes">
              <div class="recipes-top">
                <!--レシピの画像をいれる ↓ recipe.image-->
                <%= image_tag 'images.jpeg', class:"img" %>
              </div>
              
              <!--bottom-->
              <div class="recipes-bottom">
                <div class="recipes-discription">
                  <!--タイトル ↓ recipe.title-->
                  <h4><%= recipe.title %></h4>
                  <!--ポイント ↓ recipe.discription-->
                   <p><%= recipe.point %></p>
                </div>
              <% end %>
            
                <div class="recipes-favorite">
                  
                  <% if !recipe.favorites_users.include?(current_user) %>
                    <%= link_to favorites_path(recipe_id: recipe.id),method: :post do %>
                      <%= image_tag 'heart-black', class:"mr-3 ml-1 favorite-img" %>
                    <% end %>
                  <% else %>
                    <%= link_to cancel_path(recipe_id: recipe.id),method: :delete do %>
                      <%= image_tag 'heart-black', class:"mr-3 ml-1 favorite-img favorite" %>
                    <% end %>
                  <% end %>
                   
                  <%= image_tag 'comment.png', class:"mr-3 ml-1 favorite-img"%>
                    
                  <%= recipe&.user.name %>
                
                </div>
              </div>
            </div>
          
          <% end %>
          
           
         </div>
        </div>
      </div>
    </div>
  </body>
</html>

