<html>
  <body>
    <div class="recipes-new-wrapper">
      <div class="container">
        <div class="row">
          <div class="offset-md-2">
            <div class="heading mb-3">
              <h2 class="text-center mt-4 pt-2 pb-2 text-white bg-success">お茶漬けレシピ 投稿</h2>
            </div>
            
            <div class="heading">
              <p>お茶漬けにはバリエーションがたくさんあります。だしやトッピングを変えることで様々な味を表現することができます。<br>
              自分のオリジナルのお茶漬けを投稿して日本のお茶漬けを盛り上げましょう！</p>
            </div>
            
            <%= form_for @recipe do |f| %>
              <div class="text-white title">
                <h3 class="badge badge-secondary">タイトルを入力してください</h3>
                <div><%= f.text_field :title, class:"text-form", placeholder:"タイトルを入力" %></div>
              </div>
            
              <div><label class="badge badge-secondary">画像を選択してください</label></div>
              <%= f.file_field :image %>
            
              <%= f.fields_for :materials do |m| %>
            
                <div class="material">
                  <label class="badge badge-secondary">材料とそれに対する分量を入力してください</label>
                  <div class="food">
                    <%= m.text_field :material_name,multiple: true, class:"text-form material-name", placeholder:"材料を入力" %>
                    <%= m.text_field :material_quantity,multiple: true, class:"text-form material-quantity", placeholder:"分量を入力" %>
                  </div>
            
                  <div class="food">
                    <%= m.text_field :material_name,multiple: true, class:"text-form material-name", placeholder:"材料を入力" %>
                    <%= m.text_field :material_quantity,multiple: true, class:"text-form material-quantity", placeholder:"分量を入力" %>
                  </div>
                  
                  <div class="food">
                    <%= m.text_field :material_name,multiple: true, class:"text-form material-name", placeholder:"材料を入力" %>
                    <%= m.text_field :material_quantity,multiple: true, class:"text-form material-quantity", placeholder:"分量を入力" %>
                    <!--<button type="button" class="ml-1 add-material">+</button>-->
                  </div>
                  
                  <div class="food">
                    <%= m.text_field :material_name,multiple: true, class:"text-form material-name", placeholder:"材料を入力" %>
                    <%= m.text_field :material_quantity,multiple: true, class:"text-form material-quantity", placeholder:"分量を入力" %>
                    
                  </div>
                  
                  <div class="food">
                    <%= m.text_field :material_name,multiple: true, class:"text-form material-name", placeholder:"材料を入力" %>
                    <%= m.text_field :material_quantity,multiple: true, class:"text-form material-quantity", placeholder:"分量を入力" %>
                    <!--<button type="button" class="ml-1 add-material">+</button>-->
                  </div>
                  
                  <div class="food">
                    <%= m.text_field :material_name,multiple: true, class:"text-form material-name", placeholder:"材料を入力" %>
                    <%= m.text_field :material_quantity,multiple: true, class:"text-form material-quantity", placeholder:"分量を入力" %>
                    <button type="button" class="ml-1 add-material">+</button>
                  </div>
                </div>
              
              <% end %>
            
              <%= f.fields_for :cookmethods do |cm| %>
            
                <div class="method">
                  <div><label class="badge badge-secondary">作り方を入力してください</label></div>
                  <div><label class="badge badge-pill badge-secondary num"></label><%= cm.text_field :method,multiple: true, class:"textarea method col-md-5 col-sm-10 ml-2", placeholder:"作り方を入力" %></div>
                  <div><label class="badge badge-pill badge-secondary num"></label><%= cm.text_field :method,multiple: true, class:"textarea method col-md-5 col-sm-10 ml-2", placeholder:"作り方を入力" %></div>
                  <div><label class="badge badge-pill badge-secondary num"></label><%= cm.text_field :method,multiple: true, class:"textarea method col-md-5 col-sm-10 ml-2", placeholder:"作り方を入力" %></div>
                  <div><label class="badge badge-pill badge-secondary num"></label><%= cm.text_field :method,multiple: true, class:"textarea method col-md-5 col-sm-10 ml-2 d-inline", placeholder:"作り方を入力" %></div>
                  <button type="button" id="add-method ml-2 add_f">+</button>
                </div>
            
              <% end %>
            
              <div>
                <div><label class="badge badge-secondary">作る上でのポイントを入力してください</label></div>
                <%= f.text_area :point, class:"point", placeholder:"調理のポイントを入力" %>
              </div>
              
              <div>
                <div><label class="badge badge-secondary">作ってみた感想や食べてみた感想を入力してください</label></div>
                <%= f.text_area :impression, class:"impression", placeholder:"作った感想を入力（任意）" %>
              </div>
              
              <div>
                <%= button_to "投稿",{controller:"recipes", action:"create"},{method: :post, class:"btn btn-success col-md-3 offset-md-4 mb-5"} %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>

jQuery(function(){
  var add_class = $(".method")
  var add_field = $(".af")
  var size=$('.af').length
  var plus=$("#add_f") //button
   $('.method div .num').each(function(i){
      $(this).text(i+1);
    });

  $(add_class).on('click',function(p){
    
    $('.method div .num').append(i+1)
    $(add_class).append($(`.method div :nth-of-type(1)`).clone())
    
  });
});
    
    
    
    
    
    // $(add_class).on('click',function(){
    //   $(add_field).appendTo(add_class)
    //   $(add_field).appendTo(add_class)
      
    // });
    
  
    
  
</script>