
<html>
  <body>
    
  <!--<script src="assets/javascripts/Sortable.min.js"></script>-->
    <div class="recipes-new-wrapper">
      <div class="container">
        <div class="row">
          
            <div class="col-md-12 text-center heading mb-3">
              <h2 class="offset-md-1 mt-4 pt-2 pb-2 text-white bg-success">お茶漬けレシピ 投稿</h2>
            </div>
            
          <div class="offset-md-2">
            <div class="heading-sentence">
              <p>お茶漬けにはバリエーションがたくさんあります。だしやトッピングを変えることで様々な味を表現することができます。<br>
              自分のオリジナルのお茶漬けを投稿して日本のお茶漬けを盛り上げましょう！</p>
            </div>
            
            <%= form_for @recipe do |f| %>
              <%= render "layouts/error_messages", model: f.object %>
              <div class="text-white title">
                <h3 class="badge badge-secondary">タイトルを入力してください</h3>
                <div><%= f.text_field :title, class:"text-form", placeholder:"タイトルを入力" %></div>
              </div>
            
              <div><label class="badge badge-secondary ">画像を選択してください</label></div>
              <%= f.label :image, "画像をアップロード", class: "image-input-btn" %> 
               <%= f.file_field :image, style: "display:none;"%>
            
              <%= f.fields_for :materials do |m| %>
            
                <div class="material">
                  <label class="badge badge-secondary mr-2">材料とそれに対する分量を入力してください</label><br class="sm-br"><a>※空欄は投稿されません。</a>
                  <div class="food">
                    <%= m.text_field :material_name,multiple: true, class:"text-form material-name", placeholder:"材料を入力" %>
                    <%= m.text_field :material_quantity,multiple: true, class:"text-form material-quantity", placeholder:"分量を入力" %>
                    <button type="button" class="ml-1 remove-material">-</button>
                  </div>
                  
            
                  <div class="food">
                    <%= m.text_field :material_name,multiple: true, class:"text-form material-name", placeholder:"材料を入力" %>
                    <%= m.text_field :material_quantity,multiple: true, class:"text-form material-quantity", placeholder:"分量を入力" %>
                    <button type="button" class="ml-1 remove-material">-</button>
                  </div>
                  
                  <div class="food">
                    <%= m.text_field :material_name,multiple: true, class:"text-form material-name", placeholder:"材料を入力" %>
                    <%= m.text_field :material_quantity,multiple: true, class:"text-form material-quantity", placeholder:"分量を入力" %>
                    <!--<button type="button" class="ml-1 add-material">+</button>-->
                    <button type="button" class="ml-1 remove-material">-</button>
                  </div>
                  
                  <div class="food">
                    <%= m.text_field :material_name,multiple: true, class:"text-form material-name", placeholder:"材料を入力" %>
                    <%= m.text_field :material_quantity,multiple: true, class:"text-form material-quantity", placeholder:"分量を入力" %>
                    <button type="button" class="ml-1 remove-material">-</button>
                  </div>
                  
                  <div class="food">
                    <%= m.text_field :material_name,multiple: true, class:"text-form material-name", placeholder:"材料を入力" %>
                    <%= m.text_field :material_quantity,multiple: true, class:"text-form material-quantity", placeholder:"分量を入力" %>
                    <!--<button type="button" class="ml-1 add-material">+</button>-->
                    <button type="button" class="ml-1 remove-material">-</button>
                  </div>
                  
                  <div class="food">
                    <%= m.text_field :material_name,multiple: true, class:"text-form material-name", placeholder:"材料を入力" %>
                    <%= m.text_field :material_quantity,multiple: true, class:"text-form material-quantity", placeholder:"分量を入力" %>
                    <button type="button" class="ml-1 remove-material">-</button>
                  </div>
                  <button type="button" class="ml-1 add-material">+</button>
                </div>
              
              <% end %>
            
              <%= f.fields_for :cookmethods do |cm| %>
            
                <div class="method mt-4">
                  <div><label class="badge badge-secondary mr-2">作り方を入力してください</label><a>※空欄は投稿されません。</a></div>
                  
                  <div class="cook">
                    <label class="badge badge-pill badge-secondary num1">1</label>
                    <%= cm.text_field :method,multiple: true, class:"textarea method col-md-5 col-sm-10 ml-2", placeholder:"作り方を入力" %>
                    <button type="button" class="ml-1 remove-method">-</button>
                    <i class="fas fa-arrows-alt-v ml-2 method-move"></i>
                  </div>
                  
                  <div class="cook">
                    <label class="badge badge-pill badge-secondary num2">2</label>
                    <%= cm.text_field :method,multiple: true, class:"textarea method col-md-5 col-sm-10 ml-2", placeholder:"作り方を入力" %>
                    <button type="button" class="ml-1 remove-method">-</button>
                    <i class="fas fa-arrows-alt-v ml-2 method-move"></i>
                  </div>
                  
                  <div class="cook">
                    <label class="badge badge-pill badge-secondary num3">3</label>
                    <%= cm.text_field :method,multiple: true, class:"textarea method col-md-5 col-sm-10 ml-2", placeholder:"作り方を入力" %>
                    <button type="button" class="ml-1 remove-method">-</button>
                    <i class="fas fa-arrows-alt-v ml-2 method-move"></i>
                  </div>
                  
                  <div class="cook">
                    <label class="badge badge-pill badge-secondary num4">4</label>
                    <%= cm.text_field :method,multiple: true, class:"textarea method col-md-5 col-sm-10 ml-2 d-inline", placeholder:"作り方を入力" %>
                    <button type="button" class="ml-1 remove-method">-</button>
                    <i class="fas fa-arrows-alt-v ml-2 method-move"></i>
                  </div>
                  
                </div>
                  <button type="button" class="ml-2 add-method">+</button>
            
              <% end %>
            
              <div>
                <div><label class="badge badge-secondary mt-4">作る上でのポイントを入力してください</label></div>
                <%= f.text_area :point, class:"point", placeholder:"調理のポイントを入力" %>
              </div>
              
              <div>
                <div><label class="badge badge-secondary">作ってみた感想や食べてみた感想を入力してください</label></div>
                <%= f.text_area :impression, class:"impression", placeholder:"作った感想を入力（任意）" %>
              </div>
              
              <div>
                <%= button_to "投稿",{controller:"recipes", action:"create"},{method: :post, class:"btn btn-success col-md-3 offset-md-4 mb-5"} %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


<script>
  
  jQuery(function(){
  
    var len = $(".food").length;
    var mate_button=$(".add-material")
    $(mate_button).on('click',function(){
      $(".food:last").after($(`.material > .food:last`).clone(true));
    });
    
    var mate_remove_button=$(".remove-material")
    $(mate_remove_button).on('click',function(){
      $(this).parent().remove();
    });
    
    
    var meth_button=$(".add-method")
    $(meth_button).on('click',function(){
      $(".cook:last").after($(`.method > .cook:last`).clone(true));
      // var len = $(".cook").length;
      var i=1
      $('.cook').each(function() {
        var n = $(this).children("label").text();   
        if(Number(n) !== i){
          $(this).children("label").text(i);
          $(this).children("label").attr('class',`badge badge-pill badge-secondary num${i}`);
        }
        i=i+1
      });
    });
    
    var meth_remove_button=$(".remove-method")
    $(meth_remove_button).on('click',function(){
      $(this).parent().remove();
      var i=1
      $('.cook').each(function() {
        var n = $(this).children("label").text();   
        if(Number(n) !== i){
          $(this).children("label").text(i);
          $(this).children("label").attr('class',`badge badge-pill badge-secondary num${i}`);
        }
        i=i+1
      });
    });
    
      
    Sortable.create($('.method')[0], {
      animation: 110
      ,onUpdate: function(event,ui)
      {
        var i=1;
        var method_move_button=$(".cook");
        $(method_move_button).each(function(){
          var n = $(this).children("label").text();   
          console.log(n)
          if(Number(n) !== i){
            $(this).children("label").text(i);
            $(this).children("label").attr('class',`badge badge-pill badge-secondary num${i}`);
            console.log(i)
          }
          i=i+1;
        });
      }
    });
  });

</script>


