
<html>
  <body>
    <div class="recipes-index-wrapper">
      <div class="container recipes-index-container">
        <div class="row">
          <div class="col-md-10 offset-md-1 mb-3 mt-4">
            <h2 class="text-center mt-4 pt-2 pb-2 text-white bg-success">お茶漬けレシピ 一覧</h2>
          </div>
            
          <div class="offset-md-3 heading-sentence">
            <p>お茶漬けレシピ一覧です。自分の好きなお茶漬けレシピを見つけて真似して作ってみたり<br>
            アレンジしてみたりして、お茶漬けを楽しみましょう！材料で検索できます！</p>
          </div>
        </div>
          
        <div class="offset-md-5 offset-sm-5 mb-4 index">
          <%= search_form_for(@q,url: search_path, method: :get) do |f| %>
          
            <%= f.search_field :material_name_cont, class:"index-text",placeholder:"材料を入力" %>
            <%= f.submit class:"index_button" %>
            
          <% end %>
        </div>
        
        
        <% if @nothing!=1 %>
        
          <div class="row">
            <div class="col-md-12 offset-md-1 text-decoration-none content">
              
              <% for i in 0..@q_size do %>
                <%= link_to recipe_path(@recipes_q[i][0].id) do %>
                  <div class="col-md-3 recipes">
                    <div class="recipes-top">
                      <% if @recipes_q[i][0].image.url!=nil %>
                        <%= image_tag @recipes_q[i][0].image.url, class:"img" %>
                      <% end %>
                    </div>
                  
                    <div class="recipes-bottom">
                      <div class="recipes-discription">
                        <!--タイトル ↓ recipe.title-->
                        <h4 class="link"><%= @recipes_q[i][0].title %></h4>
                        <!--ポイント ↓ recipe.discription-->
                         <p class="impression"><%= @recipes_q[i][0].impression %></p>
                      </div>
                      
                <% end %>
                
                      <div class="recipes-favorite">
   
                        <% if !@recipes_q[i][0].favorites_users.include?(current_user) %>
                        
                          <%= link_to favorites_path(recipe_id: @recipes_q[i][0].id),method: :post do %>
                            <i class="far fa-heart mr-2 ml-1 fa-lg non-favorite"></i>
                          <% end %>
                          
                        <% else %>
                        
                          <%= link_to cancel_path(recipe_id: @recipes_q[i][0].id),method: :delete do %>
                             <i class="fas fa-heart mr-2 ml-1 fa-lg favorite"></i>
                          <% end %>
                          
                        <% end %>
                        
                        <i class="far fa-comment fa-lg mr-2 ml-1"></i>
                        <%= @recipes_q[i][0]&.user.name %>
                    
                      </div>
                    </div>
                  </div>
              <% end %>
        <% else %>
                
          <%= link_to recipes_path do %>
            <p class="offset-md-5 badge badge-success">レシピ一覧に戻る</p>
          <% end %>
                
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>

