
<html>
  <body>
    <div class="recipes-index-wrapper">
      <div class="container recipes-index-container">
  
        <div class="row">
          <div class="col-md-11 offset-md-1 mb-3 mt-4">
            <h2 class="text-center mt-4 pt-2 pb-2 text-white bg-success">お茶漬けレシピ 一覧</h2>
            <%= link_to "アカウントを削除する",{controller: "users",action: "destroy",id: current_user.id},{method: :delete, data: {confirm:"アカウントを削除しますか？"},class:"badge badge-danger"}%>
            <%= link_to "アカウントを編集する",{controller: "users",action: "edit",id: current_user.id},{class:"badge badge-info"}%>
                </li>
          </div>
          
          <div class="offset-md-3 heading-sentence">
            <p>お茶漬けレシピ一覧です。自分の好きなお茶漬けレシピを見つけて真似して作ってみたり<br>
            アレンジしてみたりして、お茶漬けを楽しみましょう！材料で検索できます！</p>
          </div>
        </div>
          
        <div class="offset-md-5 offset-sm-5 mb-4 index">
          <%= search_form_for(@q,url: search_user_path, method: :get) do |f| %>
            <%= f.search_field :material_name_cont, class:"index-text",placeholder:"材料を入力" %>
            <%= f.submit class:"index_button" %>
          <% end %>
        </div>
        
        
        
        <div class="row">
          <div class="col-md-12 offset-md-1 text-decoration-none content">
            
            <% @user_recipes.each do |recipe| %>
            
              <%= link_to recipe_path(recipe.id),class:"link" do %>
              
                <div class="recipes">
                  <div class="recipes-top">
                    
                    <% if recipe.image.url!=nil %>
                      <%= image_tag recipe.image.url, class:"img" %>
                    <% end %>
                  </div>
              
                  <div class="recipes-bottom">
                    <div class="recipes-discription">
                      <!--タイトル ↓ recipe.title-->
                      <h4><%= recipe.title %></h4>
                      <!--ポイント ↓ recipe.discription-->
                       <p class="impression"><%= recipe.impression %>&nbsp;</p>
                    </div>
            
                    <div class="recipes-favorite">
                      
                      
                    <div id="favorite_button_<%= recipe.id %>", class="d-inline-block">
                        <%= render partial: 'favorites/favorite_index', locals: {recipe: recipe} %>
                    </div>
                      
                      <i class="far fa-comment fa-lg mr-2 ml-1"></i>
                      <%= recipe.user&.name %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
         </div>
        </div>
      </div>
    </div>
    
    <div id="page_top">
      <p id="return">TOP</p>
    </div>
    
  </body>
</html>


<script>
// 処理開始
  jQuery(function(){
    var pagetop = $('#page_top');
    // 実験結果＝＞hideにすると非表示になって何も起こらない
    // showで再度表示させるとアニメーションが起こる！
    pagetop.stop().animate({
      'bottom': '-50px' //下から-50pxの位置に
    }, 1);  // フェードアウトさせる
    
    $(window).scroll(function(){
     
      // 90pxスクロールしたら
      if($(this).scrollTop() > 90){
        pagetop.stop().animate({
          'bottom': '50px' //下から50pxの位置に
        }, 300);// フェードインさせる
        
      }else{
        pagetop.stop().animate({
          'bottom': '-30px' //下から-50pxの位置に
        }, 300);  // フェードアウトさせる
      }
      
    });
      // pagetopをクリックしたら
    pagetop.on('click',function(){
      $('body,html').animate({scrollTop: 0 }, 500);
        return false;
      });
      
    
    var ajust=1300;
    var speed=400;
    var position=$(".comment").offset().top + ajust;
    
    $(".comment").on('click',function(){
      $("html,body").animate({scrollTop:position},speed,'swing');
        return false;
    });
  });
  
</script>
