<!DOCTYPE html>
<html>
  <head>
    <title>Mychazuke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  </head>
  <body>
   
      <nav class="navbar navbar-dark navigation">
        <div class="container m-0 col-md-12">
          <!--トップページへジャンプ(linkto 画像)-->
          
          
          
          <ul class="nav">
            <li>
              <%= link_to root_path do %>
                <P>My Chazuke</P>
              <% end %>    
            </li>
          </ul>
          <ul class="nav">
            <!--もしログインしていたら以下のアイコンを表示-->
           
            <li class="nav-item mr-2">
             <%= link_to recipes_index_path do %>
                <P>投稿一覧</P><!--「投稿一覧」ページへジャンプ linkto アイコン-->
              <% end %>
            </li>
                
            <li class="nav-item mr-2">
              <%= link_to new_recipe_path do %>
                <P>新規投稿</P>
              <% end %><!--「投稿」ページへジャンプ linkto アイコン-->
            </li>
                
            <li class="nav-item">
              <a>ログアウト</a><!--「ログアウト」する linkto アイコン-->
            </li>
                
              <!--もしログインしていなかったら以下のアイコンを表示-->
                
            <li class="nav-item">
              <%= link_to new_user_path do %>
                <p>新規作成</p><!--「アカウント作成（新規登録）」ページへジャンプ linkto アイコン-->
              <% end %>
            </li>
                
            <li class="nav-item">
              <%= link_to sessions_new_path do %>
                <p>ログイン</p><!--「アカウント作成（新規登録）」ページへジャンプ linkto アイコン-->
              <% end %>
              <!--「ログイン」ページへジャンプ linkto アイコン-->
            </li>
          </ul>
        </div>
      </nav>
    <% flash.each do |key,value| %>
       <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>  
    
      
     <%= yield %>
    
    <!--後でjavascript作成-->
    
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
    
    
  </body>
</html>
