<!DOCTYPE html>
<html>
  <head>
    <title>Mychazuke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

  <body>
   
      <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
        <div class="container">
          <!--トップページへジャンプ(linkto 画像)-->
            <ul class="nav navbar-nav nav-right">
              <!--もしログインしていたら以下のアイコンを表示-->
                <li>
                  <!--「検索」ページへジャンプ linkto アイコン-->
                </li>
                <p>My chazuke</p>
                <li>
                  <!--「投稿一覧」ページへジャンプ linkto アイコン-->
                </li>
                
                <li>
                  <!--「投稿」ページへジャンプ linkto アイコン-->
                </li>
                
                <li>
                  <!--「ログアウト」する linkto アイコン-->
                </li>
                
              <!--もしログインしていなかったら以下のアイコンを表示-->
                
                <li>
                  <!--「アカウント作成（新規登録）」ページへジャンプ linkto アイコン-->
                </li>
                
                <li>
                  <!--「ログイン」ページへジャンプ linkto アイコン-->
                </li>
            </ul>
        </div>
      </nav>
      
     <%= yield %>
    
    <!--後でjavascript作成-->
    
    
  </body>
</html>
