<!DOCTYPE html>
<html>
  <head>
    <title>Mychazuke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  </head>
  <body>
   
    <nav class="navbar navbar-dark navigation nav-class">
      <div class="container col-md-12">
        <ul class="nav mt-2">
          <li class="nav-li">
            <%= link_to root_path do %>
              <i class="fas fa-utensils fa-2x nav-img"></i>
              <%= image_tag "mychazuke.png" %>
            <% end %>    
          </li>
        </ul>
        
        <ul class="nav icon">
          <!--もしログインしていたら以下のアイコンを表示-->
          <% if logged_in? %>
          
            <li class="nav-item mr-2">
              <%= link_to users_path do %>
              <i class="far fa-user fa-2x mr-3"></i>
                <!--<p><%#= current_user.name %></p>-->
              <% end %>
            </li>
          
            <!--「投稿一覧」ページへジャンプ linkto アイコン-->
            <li class="nav-item mr-2">
              <%= link_to recipes_path do %>
                <i class="fas fa-list-ul fa-2x mr-3"></i>
              <% end %>
            </li>
            
            <!--「投稿」ページへジャンプ linkto アイコン-->
            <li class="nav-item mr-2">
              <%= link_to new_recipe_path do %>
               <i class="far fa-file fa-2x mr-3"></i>
              <% end %>
            </li>
            
            <!--「ログアウト」する linkto アイコン-->
            <li class="nav-item">
              <%= link_to logout_path, method: :delete do %>
               <i class="fas fa-sign-out-alt fa-2x"></i>
              <% end %>
            </li>
                
          <!--もしログインしていなかったら以下のアイコンを表示-->
          <% else %>
          
            <!--「アカウント作成（新規登録）」ページへジャンプ linkto アイコン-->
            <li class="nav-item">
              <%= link_to new_user_path do %>
                <i class="fas fa-user-plus fa-2x mr-3"></i>
              <% end %>
            </li>
            
            <!--「ログイン」ページへジャンプ linkto アイコン-->
            <li class="nav-item">
              <%= link_to login_path do %>
                <i class="fas fa-sign-in-alt fa-2x"></i><!--「アカウント作成（新規登録）」ページへジャンプ linkto アイコン-->
              <% end %>
            </li>
            
          <% end %>
        </ul>
      </div>
    </nav>
    
    <% flash.each do |key,value| %>
       <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>  
  
    
    <%= yield %>
  
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
    
  </body>
</html>
